<ul>

  <li><%=link_to 'Inicio',  main_index_path %></li>
  <li><%=link_to 'saludo',  main_saludo_path %></li>
  <li><%=link_to 'Formulario', archivo_index_path %></li>
</ul>
<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
<h1>Hola mundo</h1>
