<header>
  <div class="view intro-2">
     <div class="mask rgba-black-strong flex-center">
       <div class="container">
         <div class="white-text text-center wow fadeInUp">
           <h2>Gestion Farmacia</h2>
           <h5>dw3 -1029</h5>
           <br>
         </div>
       </div>
   </div>
 </div>
</header>
