<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

Nombre: <%= @nombre %>
<br>
Apellido:
    <%= @apellido %> <br>
  <%= link_to 'Formulario',  archivo_index_path %>
  </body>
</html>
