<h1>Laboratorios</h1>
<table class="table ">
  <thead>
<tr>
  <th>Laboratorio</th>
  <th>Activo</th>
  <th colspan='2'> <a href="<%= laboratorios_new_path  %>" class="btn btn-outline-success" >nuevo</a> </th>
</tr>

  </thead>
  <tbody>
    <% @lista.each do |t| %>
    <tr>
      <td><%= t.lab_desc %></td>
      <td><% if  t.active=1   %> <span class="badge badge-success">Activo</span>
<% else  %> <span class="badge badge-danger">Inactivo</span>  <% end %>   </td>
      <td><a href="<%= laboratorios_edit_path(t.id)  %>"  class="btn btn-outline-warning" >Editar</a></td>
      <td><a href="<%= laboratorios_delete_path(t.id)  %>"  class="btn btn-outline-danger" >Borrar</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
